:root {
  --bg-dark: rgba(0, 0, 0, 0.05);
  --fg-dark: rgba(0, 0, 0, 0.5);
}
body {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  height: calc(100vh - 20px);
  margin: 10px;
}
.button,
input[type=button] {
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--bg-dark);
  border: none;
  min-width: 80px;
  font-size: 11px;
  margin-left: 4px;
  text-align: center;
  justify-content: center;
}
input[type=number] {
  width: 30px;
  background-color: var(--bg-dark);
  border: none;
  outline: none;
  font-size: 11px;
  padding: 5px 10px;
}
input[type=file] {
  display: none;
}
label {
  user-select: none;
  display: flex;
  align-items: center;
}
audio {
  height: 30px;
  outline: none;
}
#entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 64px;
  flex: 1;
  overflow: auto;
}

#entries:empty {
  align-items: center;
  justify-content: center;
  background-color: var(--bg-dark);
}
#entries:empty::before {
  content: 'Click "Add Files", or drop audio files into this view. Reorder if necessary and press the "Join" button to merge';
  text-align: center;
  color: var(--fg-dark);
}

.entry {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 20px auto min-content 20px;
  grid-template-rows: auto;
  grid-template-areas:
    "drag name audio close"
    "drag name audio close";
  width: 100%;
  white-space: nowrap;
  margin-bottom: 2px;
}
.entry [data-id="close"] {
  grid-area: close;
  user-select: none;
}
.entry [data-id="drag"] {
  grid-area: drag;
  user-select: none;
}
.entry>:nth-child(2),
.entry>:nth-child(3) {
  display: flex;
  align-items: center;
}
.entry>:nth-child(2) {
  grid-area: name;
  overflow: hidden
}
.entry>:nth-child(2) [data-id="name"] {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
}
.entry>:nth-child(3) {
  grid-area: audio;
  display: flex;
  justify-content: flex-end;
}
.entry [data-id="drag"],
.entry [data-id="close"] {
  background-color: var(--bg-dark);
  cursor: pointer;
  font-size: 140%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.entry [data-id="msg"]:not(:empty) ~ [data-id="name"] {
  display: none;
}
@media screen and (max-width: 600px)  {
  .entry {
    grid-template-areas:
      "drag name name close"
      "drag audio audio close";
  }
}
.entry.disabled {
  opacity: 0.8;
}
.entry [data-id="warning"] {
  color: #ff3333;
}

fieldset {
  min-width: 100px;
  margin-top: 10px;
  white-space: nowrap;
  border: solid 1px var(--bg-dark);
}
fieldset.hidden {
  display: none;
}
fieldset>div:first-of-type {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.download {
  display: flex;
  margin-bottom: 2px;
}
.download audio {
  flex: 1;
}
.download input {
  background: url(download.svg) no-repeat center center;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}
.download input:active {
  transform: translateY(2px);
}
